<h1>Nouveau locataire</h1>
<%= form_for @tenant do |f| %>
  <%= f.label :firstname %>:
  <%= f.text_field :firstname %><br />

  <%= f.label :lastname %>:
  <%= f.text_field :lastname %><br />

  <%= f.label :age %>:
  <%= f.text_field :age %><br />

  <%= f.submit "Ajouter ce locataire" %>
<% end %>
<%= link_to "Annuler", tenants_path %>