<h1>Modifier appartement</h1>
<%= form_for @appartment do |f| %>

  <%= f.label :building %>:
  <%= f.select :building_id, options_for_select(Building.all.map{|s| [s.name, s.id]}) %><br />

  <%= f.label :number %>:
  <%= f.text_field :number %><br />

  <%= f.label :area %>:
  <%= f.text_field :area %><br />

  <%= f.label :rent %>:
  <%= f.text_field :rent %><br />

  <%= f.submit "Modifier cet appartement" %>
<% end %>
<%= link_to "Annuler", appartment_path %>